body {
    font-family: sans-serif;
    height: 100%;
  }
  
  .navbar-text {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar li {
    padding: 0 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .nav-item a:hover {
    color: orange;
    border-bottom: 2px solid orange;
  }
  
  .jumbotron {
    position: inherit;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .jumbotron h1 {
    color: black;
    font-weight: bold;
  }
  
  h2:after {
    width: 150px;
    height: 2px;
    background-color: orange;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .features h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  
  .container-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/back.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .navbar-brand img {
    height: 60px;
  }
  
  .features p {
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
  }
  
  .arrange {
    text-align: justify;
  }
  
  .row img {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .page-footer {
    background-color: black;
    color: white;
  }
  